@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixin";

.header-container {
  @extend %flex;

  background-color: $navyBlue;
  padding: 0.2rem 1rem;

  img {
    @include width-height(40px, 40px);
    border-radius: 50%;
  }

  .header-left {
    @extend %flex-center;
    width: 50%;
  }

  .header-right {
    @extend %flex-center;
    justify-content: end;
    width: 50%;

    select {
      @include width-height(130px, 35px);
      cursor: pointer;
      padding: 2px;
      border-radius: 5px;
      outline: none;
      font-family: "Poppins";

      &:hover {
        background-color: rgb(250, 247, 242);
      }

      option {
        padding: 10px;
        border-radius: 5px;
      }
    }
  }

  button {
    @extend %btn;
  }
}
